@charset "UTF-8";

/* 共通部分
-------------------------------------*/
html {
    font-size: 100%;
}

body {
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    line-height: 1.7;
    color: #000000;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
}

section {
    margin-bottom: 110px;
}

.text_center {
    text-align: center;
}

/* 共通部分
-------------------------------------*/
h1 {
    font-size: 24px;
}

.btn--green {
    color: #fff;
    background-color: #296A65;
}

.btn--green:hover {
    color: #fff;
    background: #389089;
}

.btn--radius {
    border-radius: 50vh;
}

.btn {
    padding: 10px 48px;
    display: inline;
}

.contents_wrapper {
    width: 1028px;
    margin: 0 auto;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.sub_title {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 64px;
}

/* main visual */
.top-image {
    width: 100%;
    height: 100vh;
    background-image: url(/images/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* service */
.top_service_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 70px;
}

.top_service_flex_inner {
    position: relative;
    width: 300px;
    margin-bottom: 18px;
}

.service_icon {
    text-align: center;
}

.service_title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 24px;
}

.service_text {
    font-size: 14px;
}

/* works */
.works_title {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 24px;
}

.tag {
    background-color: #EEEEEE;
    padding: 2px 8px;
    font-size: 14px;
    display: inline;
    border-radius: 5px;
}

/* about */
.top_about_flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    ;
    width: 900px;
}

.top_aout_flrex_inner_r {
    width: 200px;
    margin-right: 64px;
}

.top_aout_flrex_inner_l {
    width: 612px;
}

.about_name {
    font-size: 48px;
}

.about_text {
    font-size: 16px;
}

/* footer */
.footer {
    background-color: #296A65;
    color: #fff;
    text-align: right;
    padding: 10px;
}

.footer p {
    margin-right: 20px;
}



/* --------------------------------------------------
  幅768px以上のスタイル指定 ここから
-------------------------------------------------- */
@media screen and (min-width: 768px) {

    .wrapper {
        width: 1440px;
        margin: 0 auto;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        margin-top: 37px;
    }

    /* ハンバーガーボタン */
    #navToggle {
        display: none;
    }

    .btn-burger {
        display: none;
        /*768px以上では使用しない */
    }

    .nav-list {
        display: flex;
        font-size: 16px;
        text-transform: uppercase;
        list-style: none;
        justify-content: center;
        height: 75px;
        align-items: center;
    }

    .nav-list li {
        margin-left: 40px;
    }

    .nav-toggle:checked~.nav .nav-list {
        display: none;
    }
}

/* スマホ対応 */
/* スマホレスポンシブ768px設定 */
@media(max-width:768px) {
    .wrapper{
        padding: 3%;
    }

    .top-image {
        height: 35vh;
        width: 100%;
    }

    .contents_wrapper, .top_service_flex_inner{
        width: 100%;
        margin-bottom: 20%;
    }

    .top_service_flex{
        display: block;
    }

    .service_text{
        margin: 0 5%;
    }

    .works_title{
        margin: 0 0 0 38px;
    }

    .tag{
        margin-left: 38px;
    }

    .top_about_flex{
        display: block;
        width: 100%;
        padding: 8%;
    }

    .top_aout_flrex_inner_r{
        width: 100%;
        margin: 0;
        display: block;
        text-align: center;
    }

    .top_aout_flrex_inner_r img{
        text-align: center;
    }

    .top_aout_flrex_inner_l, .wrapper{
        width: 100%;
    }

    .about_name{
        font-size: 2.2rem;
    }

    /*ハンバーガーアイコン*/
    .btn-burger {
        cursor: pointer;
        display: block;
        width: 56px;
        height: 60px;
        position: absolute;
        top: 5px;
        right: 10px;
    }

    /*ハンバーガーアイコンを作る三本線*/
    .icon,
    .icon:before,
    .icon:after {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 2px;
        /*線の太さ*/
        width: 35px;
        /*線の長さ*/
        background-color: #444;
        border-radius: 2px;
        display: block;
        content: '';
        cursor: pointer;
        margin: auto;
    }

    /*三本線の間隔*/
    .icon:before {
        top: 12px;
    }

    .icon:after {
        top: -20px;
    }

    /*チェックボックス非表示*/
    .nav-toggle {
        display: none;
    }

    /*アイコンをクリックしたら*/
    .nav-toggle:checked~.btn-burger .icon {
        background: transparent;
    }

    .nav-toggle:checked~.btn-burger .icon:before {
        transform: rotate(-45deg);
        top: 0;
    }

    .nav-toggle:checked~.btn-burger .icon:after {
        transform: rotate(45deg);
        top: 0;
    }

    .icon,
    .icon:before,
    .icon:after {
        transition: all .8s;
    }

    /*表示されるメニューの中身*/
    .right {
        margin: 0 0 0 auto;
    }

    .nav {
        width: 200px;
        padding-bottom: 20px;
        margin-top: 20px;
    }

    .nav-list {
        list-style: none;
        display: none;
        margin: 0;
        padding-left: 20px;
        text-align: center;
    }

    .nav-list li {
        margin: 0;
        padding: 10px;
    }

    .nav-toggle:checked~.nav .nav-list {
        display: block;
    }

}
